In [73]:
username="shermans20"
password="Andurandiir2021"
tokenLifeTime=1
access_token='eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIxMDY0NTA2Iiwic3ViIjoic2hlcm1hbnMyMCIsImF1ZCI6IklJUl9BUEkiLCJpc3MiOiJJbmR1c3JpYWwgSW5mbyBSZXNvdXJjZXMiLCJpYXQiOjE1OTY3MTI2NzUsImV4cCI6MTU5Njc5OTA3NX0.jDHUm1jfh5Rgc4LAxCc2k-DTs76BzCTMRsMR7rv-kFw'

In [65]:
api_version='1.1'

In [68]:
base_url='https://api.industrialinfo.com/idb/v1.1/'

In [69]:
token_path=f"token?username={username}&password={password}&tokenLifeTime={tokenLifeTime}"

In [76]:
offlineEventsSummary_path=f"offlineevents/summary"

In [77]:
#endpoint=f"{base_url}{token_path}"
endpoint=f"{base_url}{offlineEventsSummary_path}"
endpoint

'https://api.industrialinfo.com/idb/v1.1/offlineevents/summary'

In [108]:
token_endpoint=f"{base_url}{token_path}"

In [109]:
offlineEvent_endpoint='https://api.industrialinfo.com/idb/v1.1/offlineevents/summary?eventId=129315'

In [105]:
headers= {'Authorization': f'Bearer {access_token}'}#,
#          'Content-Type': 'application/json'}

In [114]:
response = requests.post(offlineEvent_endpoint, headers=headers, verify=False)

In [ ]:
response.json()

In [ ]:
requests.post(endpoint, headers=headers, verify=True)

In [101]:
endpoint_token

'https://api.industrialinfo.com/idb/v1.1/token?username=shermans20&password=Andurandiir2021&tokenLifeTime=1'

In [1]:
from xbbg import blp

In [2]:
blp.bdp(tickers='NVDA US Equity', flds=['Security_Name', 'GICS_Sector_Name'])

               security_name        gics_sector_name
NVDA US Equity   NVIDIA Corp  Information Technology

In [6]:
blp.bdp('TSLA US Equity', 'LAST_PX')

Empty DataFrame
Columns: []
Index: []

In [10]:
mu = np.array([0.04,0.8,0.11,0.15])
rf = np.array([0.025,0.025,0.025,0.025])
m = np.array([0.1,0.1,0.1,0.1])
R = np.array([[1,0.2,0.5,0.3],[0.2,1,0.7,0.4],[0.5,0.7,1,0.9],[0.3,0.4,0.9,1]])
sigma = np.array([0.07,0.12,0.18,0.26])
S=np.diag(sigma)

In [ ]:
def weight(S,R,mu,m):    
    SRS = np.dot(np.dot(S,R),S)
    SRS_inv = la.inv(SRS)
    weights = multi_dot([(m-rf),SRS_inv,(mu-rf)])/multi_dot([(mu-rf).T,SRS_inv,(mu-rf)])
    return weights

In [13]:
from numpy.linalg import multi_dot

In [6]:
pd.set_option('display.max_columns', None)

In [2]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import StaticPool
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output
import dash_bootstrap_components as dbc

# importing data from database
# DB Details
connection_type = "mssql+pyodbc"
dataportal_db_user = "dataportal"
dataportal_db_password = "FatShamingMarc"
dataportal_db_ip = "10.8.4.35"
db_port = "1433"
db_prod_name = "dataportal_prod"
db_driver = "ODBC+DRIVER+17+for+SQL+Server"

def create_connection_string(connection_type, user, password, host, port, database_name, driver):
    return (
        "{connection_type}://{user}:{password}@{host}:{port}/{database_name}"
        "?driver={driver}").format(
        connection_type=connection_type,
        user=user,
        password=password,
        host=host,
        port=port,
        database_name=database_name,
        driver=driver)

connection_string = create_connection_string(connection_type,dataportal_db_user,dataportal_db_password,dataportal_db_ip,db_port,db_prod_name, db_driver)
engine = create_engine(connection_string, poolclass=StaticPool)

# retrieves entire table
table_name = "data_iir_offlineevents_unique_latest_v"
df = pd.read_sql_table(table_name, connection_string)

In [ ]:
df.head(10)

In [20]:
# filtering for PLANNED adu & seperating useful df columns
df_glob_adu_p = df[(df['UNIT_TYPE_DESCRIPTION'] == 'Atmospheric Distillation') & (df['EVENT_TYPE'] == 'Planned')]

In [21]:
cols = 'EVENT_START EVENT_END COUNTRY CAPACITY_OFFLINE'.split()
df_glob_adu_p = df_glob_adu_p[cols]

In [62]:
df_glob_adu_p

       EVENT_START  EVENT_END         COUNTRY  CAPACITY_OFFLINE
4       1997-04-01 1997-04-30          U.S.A.           40000.0
35      1994-03-01 1994-03-21          U.S.A.           70000.0
36      1998-03-01 1998-03-28          U.S.A.           70000.0
69      2000-02-01 2000-02-01          U.S.A.          144000.0
117     2001-10-01 2001-11-07          U.S.A.           52000.0
...            ...        ...             ...               ...
106617  2020-08-28 2020-09-30  UNITED KINGDOM          220000.0
106823  2020-08-23 2020-09-05          RUSSIA           39600.0
106875  2023-05-16 2023-07-04          U.S.A.           80000.0
106994  2020-08-25 2020-09-05          RUSSIA           21000.0
106995  2020-08-19 2020-09-05          RUSSIA           27600.0

[8006 rows x 4 columns]

In [23]:
ix = pd.date_range(start='1970-01-01', end='2021-12-31', freq='D')

In [25]:
start_df_p = pd.pivot_table(df_glob_adu_p,
                          index='EVENT_START'.split(), values='CAPACITY_OFFLINE', columns='COUNTRY',
                          aggfunc='sum').reindex(ix).fillna(0)

In [27]:
end_df_p = pd.pivot_table(df_glob_adu_p,
                        index='EVENT_END'.split(), values='CAPACITY_OFFLINE', columns='COUNTRY',
                        aggfunc='sum').reindex(ix).fillna(0) * -1

In [27]:
comb_df_p = start_df_p.add(end_df_p).cumsum()

COUNTRY,AFGHANISTAN,ALGERIA,ANGOLA,ARGENTINA,ARUBA,AUSTRALIA,AUSTRIA,AZERBAIJAN,BAHRAIN,BANGLADESH,BELARUS,BELGIUM,BOLIVIA,BOSNIA-HERZEGOVINA,BRAZIL,BRUNEI,BULGARIA,CAMEROON,CANADA,CHILE,CHINA,COLOMBIA,CONGO,COSTA RICA,COTE D'IVOIRE,CROATIA,CUBA,CZECH REPUBLIC,DENMARK,DOMINICAN REPUBLIC,ECUADOR,EGYPT,EL SALVADOR,FINLAND,FRANCE,GABON,GERMANY,GHANA,GREECE,HUNGARY,INDIA,INDONESIA,IRAN,IRAQ,IRELAND,ISRAEL,ITALY,JAMAICA,JAPAN,JORDAN,KAZAKHSTAN,KUWAIT,LIBYA,LITHUANIA,MACEDONIA,MALAYSIA,MARTINIQUE,MEXICO,MOROCCO,MYANMAR (BURMA),NETHERLANDS,NETHERLANDS ANTILLES,NEW ZEALAND,NICARAGUA,NIGERIA,NORWAY,OMAN,PAKISTAN,PAPUA NEW GUINEA,PERU,PHILIPPINES,POLAND,PORTUGAL,QATAR,REPUBLIC OF CHINA-TAIWAN,REPUBLIC OF KOREA-S.KOREA,ROMANIA,RUSSIA,SAUDI ARABIA,SENEGAL,SERBIA,SINGAPORE,SLOVAKIA,SOUTH AFRICA,SPAIN,SRI LANKA,SUDAN,SWEDEN,SWITZERLAND,SYRIA,THAILAND,TRINIDAD AND TOBAGO,TUNISIA,TURKEY,TURKMENISTAN,U.S.A.,UKRAINE,UNITED ARAB EMIRATES,UNITED KINGDOM,URUGUAY,UZBEKISTAN,VENEZUELA,VIETNAM,YEMEN,ZAMBIA
1970-01-01,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1970-01-02,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1970-01-03,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1970-01-04,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1970-01-05,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-07-15,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1970-07-16,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1970-07-17,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1970-07-18,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1970-07-19,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0

In [58]:
start_df_p.add(end_df_p).cumsum().tail(200)

COUNTRY,AFGHANISTAN,ALGERIA,ANGOLA,ARGENTINA,ARUBA,AUSTRALIA,AUSTRIA,AZERBAIJAN,BAHRAIN,BANGLADESH,BELARUS,BELGIUM,BOLIVIA,BOSNIA-HERZEGOVINA,BRAZIL,BRUNEI,BULGARIA,CAMEROON,CANADA,CHILE,CHINA,COLOMBIA,CONGO,COSTA RICA,COTE D'IVOIRE,CROATIA,CUBA,CZECH REPUBLIC,DENMARK,DOMINICAN REPUBLIC,ECUADOR,EGYPT,EL SALVADOR,FINLAND,FRANCE,GABON,GERMANY,GHANA,GREECE,HUNGARY,INDIA,INDONESIA,IRAN,IRAQ,IRELAND,ISRAEL,ITALY,JAMAICA,JAPAN,JORDAN,KAZAKHSTAN,KUWAIT,LIBYA,LITHUANIA,MACEDONIA,MALAYSIA,MARTINIQUE,MEXICO,MOROCCO,MYANMAR (BURMA),NETHERLANDS,NETHERLANDS ANTILLES,NEW ZEALAND,NICARAGUA,NIGERIA,NORWAY,OMAN,PAKISTAN,PAPUA NEW GUINEA,PERU,PHILIPPINES,POLAND,PORTUGAL,QATAR,REPUBLIC OF CHINA-TAIWAN,REPUBLIC OF KOREA-S.KOREA,ROMANIA,RUSSIA,SAUDI ARABIA,SENEGAL,SERBIA,SINGAPORE,SLOVAKIA,SOUTH AFRICA,SPAIN,SRI LANKA,SUDAN,SWEDEN,SWITZERLAND,SYRIA,THAILAND,TRINIDAD AND TOBAGO,TUNISIA,TURKEY,TURKMENISTAN,U.S.A.,UKRAINE,UNITED ARAB EMIRATES,UNITED KINGDOM,URUGUAY,UZBEKISTAN,VENEZUELA,VIETNAM,YEMEN,ZAMBIA
2021-06-15,0.0,0.0,0.0,0.0,0.0,60000.0,0.0,0.0,104000.0,0.0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,112000.0,0.0,356000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,170000.0,0.0,0.0,0.0,0.0,72000.0,0.0,0.0,0.0,35000.0,784000.0,0.0,120000.0,0.0,0.0,0.0,0.0,0.0,0.0,150000.0,0.0,0.0,191000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65000.0,0.0,28000.0,0.0,0.0,0.0,60000.0,0.0,23000.0,0.0,24000.0,0.0,0.0,60000.0,125000.0,0.0,0.0,0.0,0.0,68000.0,0.0,120000.0,0.0,0.0,0.0,0.0,395000.0,0.0,0.0,140000.0,0.0,0.0,5800.0,0.0,0.0,0.0
2021-06-16,0.0,0.0,0.0,0.0,0.0,60000.0,0.0,0.0,104000.0,0.0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,112000.0,0.0,356000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,170000.0,0.0,0.0,0.0,0.0,72000.0,0.0,0.0,0.0,35000.0,784000.0,0.0,120000.0,0.0,0.0,0.0,0.0,0.0,0.0,150000.0,0.0,0.0,191000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65000.0,0.0,28000.0,0.0,0.0,0.0,60000.0,0.0,23000.0,0.0,24000.0,0.0,0.0,60000.0,125000.0,0.0,0.0,0.0,0.0,68000.0,0.0,120000.0,0.0,0.0,0.0,0.0,395000.0,0.0,0.0,140000.0,0.0,0.0,5800.0,0.0,0.0,0.0
2021-06-17,0.0,0.0,0.0,0.0,0.0,60000.0,0.0,0.0,104000.0,0.0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,112000.0,0.0,356000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,170000.0,0.0,0.0,0.0,0.0,72000.0,0.0,0.0,0.0,35000.0,784000.0,0.0,120000.0,0.0,0.0,0.0,0.0,0.0,0.0,150000.0,0.0,0.0,191000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65000.0,0.0,28000.0,0.0,0.0,0.0,60000.0,0.0,23000.0,0.0,24000.0,0.0,0.0,60000.0,125000.0,0.0,0.0,0.0,0.0,68000.0,0.0,120000.0,0.0,0.0,0.0,0.0,395000.0,0.0,0.0,140000.0,0.0,0.0,5800.0,0.0,0.0,0.0
2021-06-18,0.0,0.0,0.0,0.0,0.0,60000.0,0.0,0.0,104000.0,0.0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,112000.0,0.0,356000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,170000.0,0.0,0.0,0.0,0.0,72000.0,0.0,0.0,0.0,35000.0,684000.0,0.0,120000.0,0.0,0.0,0.0,0.0,0.0,0.0,150000.0,0.0,0.0,191000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65000.0,0.0,28000.0,0.0,0.0,0.0,60000.0,0.0,23000.0,0.0,24000.0,0.0,0.0,60000.0,125000.0,0.0,0.0,0.0,0.0,68000.0,0.0,120000.0,0.0,0.0,0.0,0.0,395000.0,0.0,0.0,140000.0,0.0,0.0,5800.0,0.0,0.0,0.0
2021-06-19,0.0,0.0,0.0,0.0,0.0,60000.0,0.0,0.0,104000.0,0.0,0.0,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,112000.0,0.0,356000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,170000.0,0.0,0.0,0.0,0.0,72000.0,0.0,0.0,0.0,35000.0,684000.0,0.0,120000.0,0.0,0.0,0.0,0.0,0.0,0.0,150000.0,0.0,0.0,191000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65000.0,0.0,28000.0,0.0,0.0,0.0,0.0,0.0,23000.0,0.0,24000.0,0.0,0.0,60000.0,125000.0,0.0,0.0,0.0,0.0,68000.0,0.0,120000.0,0.0,0.0,0.0,0.0,395000.0,0.0,0.0,140000.0,0.0,0.0,5800.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,350000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,350000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,350000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,350000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,350000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
# adding columns for  global
comb_df_p['Global'] = comb_df_p.sum(axis = 1)
comb_df_p = comb_df_p.reset_index().rename(columns={"index": "Day"})

In [31]:
# filtering for last 5 yrs
comb_df_p = comb_df_p.loc[comb_df_p['Day'] > '01-01-2016']

In [33]:
melt_p = pd.melt(comb_df_p, id_vars= ['Day'])

In [34]:
melt_p

              Day      COUNTRY     value
0      2016-01-02  AFGHANISTAN       0.0
1      2016-01-03  AFGHANISTAN       0.0
2      2016-01-04  AFGHANISTAN       0.0
3      2016-01-05  AFGHANISTAN       0.0
4      2016-01-06  AFGHANISTAN       0.0
...           ...          ...       ...
232241 2021-12-27       Global  730000.0
232242 2021-12-28       Global  730000.0
232243 2021-12-29       Global  730000.0
232244 2021-12-30       Global  460000.0
232245 2021-12-31       Global  460000.0

[232246 rows x 3 columns]

In [36]:
melt_p.rename(columns={'value':'CAPACITY_OFFLINE'}, inplace=True)
melt_p["P/U"] = "Planned"

# filtering for UNPLANNED adu & seperating useful df columns
df_glob_adu_u = df.loc[df['UNIT_TYPE_DESCRIPTION'] == 'Atmospheric Distillation']
df_glob_adu_u = df_glob_adu_u.loc[df_glob_adu_u['EVENT_TYPE'] == 'Unplanned']
cols = 'EVENT_START EVENT_END COUNTRY CAPACITY_OFFLINE'.split()
df_glob_adu_u = df_glob_adu_u[cols]

In [37]:
start_df_u = pd.pivot_table(df_glob_adu_u,
                          index='EVENT_START'.split(), values='CAPACITY_OFFLINE', columns='COUNTRY',
                          aggfunc='sum').reindex(ix).fillna(0)

end_df_u = pd.pivot_table(df_glob_adu_u,
                        index='EVENT_END'.split(), values='CAPACITY_OFFLINE', columns='COUNTRY',
                        aggfunc='sum').reindex(ix).fillna(0) * -1

In [38]:
comb_df_u = start_df_u.add(end_df_u).cumsum()

# adding columns for  global sum, month, & year
comb_df_u['Global'] = comb_df_u.sum(axis = 1)
comb_df_u = comb_df_u.reset_index().rename(columns={"index": "Day"})

# filtering for last 5 yrs
comb_df_u = comb_df_u.loc[comb_df_u['Day'] > '01-01-2016']

melt_u = pd.melt(comb_df_u, id_vars= ['Day'])
melt_u.rename(columns={'value':'CAPACITY_OFFLINE'}, inplace=True)
melt_u["P/U"] = "Unplanned"

In [42]:
df_new = pd.concat([melt_p,melt_u], keys= 'Day', ignore_index= True)

In [43]:
df_new

              Day      COUNTRY  CAPACITY_OFFLINE        P/U
0      2016-01-02  AFGHANISTAN               0.0    Planned
1      2016-01-03  AFGHANISTAN               0.0    Planned
2      2016-01-04  AFGHANISTAN               0.0    Planned
3      2016-01-05  AFGHANISTAN               0.0    Planned
4      2016-01-06  AFGHANISTAN               0.0    Planned
...           ...          ...               ...        ...
438195 2021-12-27       Global          114000.0  Unplanned
438196 2021-12-28       Global          114000.0  Unplanned
438197 2021-12-29       Global          114000.0  Unplanned
438198 2021-12-30       Global          114000.0  Unplanned
438199 2021-12-31       Global          114000.0  Unplanned

[438200 rows x 4 columns]

In [63]:
# concat planned & unplanned
df_new = pd.concat([melt_p,melt_u], keys= 'Day', ignore_index= True)

# create region dictionairies
glob_countries = {'COUNTRY': ['Global']}
nam_countries = {'COUNTRY': ['CANADA','MEXICO','U.S.A.']}
euro_countries = {'COUNTRY': ['AUSTRIA', 'BELARUS', 'BELGIUM', 'BOSNIA-HERZEGOVINA', 'CROATIA', 'CZECH REPUBLIC', 'DENMARK',
                              'FINLAND', 'FRANCE', 'GERMANY', 'GREECE', 'HUNGARY', 'IRELAND', 'ITALY', 'LITHUANIA', 'MACEDONIA',
                              'NETHERLANDS', 'NORWAY', 'POLAND', 'PORTUGAL', 'ROMANIA', 'SERBIA', 'SLOVAKIA', 'SPAIN', 'SWEDEN',
                              'SWITZERLAND', 'UKRAINE', 'UNITED KINGDOM']}
rus_countries = {'COUNTRY': ['RUSSIA']}
me_countries = {'COUNTRY': ['BAHRAIN','JORDAN','KUWAIT','IRAN','IRAQ','ISRAEL','OMAN','QATAR','SAUDI ARABIA','SYRIA',
                            'UNITED ARAB EMIRATES','YEMEN']}
ch_countries = {'COUNTRY': ['CHINA']}

In [65]:
country_mappings= {
    'Global': 'Global',
    'CANADA': 'NAM',
    'MEXICO': 'NAM',
    'U.S.A.': 'NAM',
    'AUSTRIA': 'Europe',
    'BELARUS': 'Europe',
    'BELGIUM' : 'Europe',
    'BOSNIA-HERZEGOVINA' : 'Europe',
    'CROATIA' : 'Europe',
    'CZECH REPUBLIC' : 'Europe',
    'DENMARK' : 'Europe',
    'FINLAND' : 'Europe',
    'FRANCE' : 'Europe',
    'GERMANY' : 'Europe',
    'GREECE' : 'Europe',
    'HUNGARY' : 'Europe',
    'IRELAND' : 'Europe',
    'ITALY' : 'Europe',
    'LITHUANIA' : 'Europe',
    'MACEDONIA' : 'Europe',
    'NETHERLANDS' : 'Europe',
    'NORWAY' : 'Europe',
    'POLAND' : 'Europe',
    'PORTUGAL' : 'Europe',
    'ROMANIA' : 'Europe',
    'SERBIA' : 'Europe',
    'SLOVAKIA' : 'Europe',
    'SPAIN' : 'Europe',
    'SWEDEN' : 'Europe',
    'SWITZERLAND' : 'Europe',
    'UKRAINE' : 'Europe',
    'UNITED KINGDOM' : 'Europe',
    'RUSSIA' : 'Russia',
    'CHINA' : 'China', 
    'BAHRAIN' : 'Middle East',
    'JORDAN' : 'Middle East',
    'KUWAIT' : 'Middle East',
    'IRAN' : 'Middle East',
    'IRAQ' : 'Middle East',
    'ISRAEL' : 'Middle East',
    'OMAN' : 'Middle East',
    'QATAR' : 'Middle East',
    'SAUDI ARABIA' : 'Middle East',
    'SYRIA' : 'Middle East',
    'UNITED ARAB EMIRATES' : 'Middle East',
    'YEMEN' : 'Middle East'
}

In [45]:
# convert dictionaries to dataframes
glob_list_df = pd.DataFrame(data = glob_countries)
nam_list_df = pd.DataFrame(data = nam_countries)
euro_list_df = pd.DataFrame(data = euro_countries)
rus_list_df = pd.DataFrame(data = rus_countries)
me_list_df = pd.DataFrame(data = me_countries)
ch_list_df = pd.DataFrame(data = ch_countries)

# add region column to above country list dataframes
glob_list_df['Region'] = 'Global'
nam_list_df['Region'] = 'NAM'
euro_list_df['Region'] = 'Europe'
rus_list_df['Region'] = 'Russia'
me_list_df['Region'] = 'Middle East'
ch_list_df['Region'] = 'China'

In [46]:
# concat all country dataframes to one
list_df = pd.concat([glob_list_df,nam_list_df,euro_list_df,rus_list_df,me_list_df,ch_list_df], join = "inner")

# merge country list dataframes with df_new
df_tot = df_new.merge(list_df, left_on='COUNTRY',right_on= 'COUNTRY')

In [47]:
# grouped by day per region
df_tot_pu = df_tot.groupby(['Day','Region'], as_index=False)['CAPACITY_OFFLINE'].sum()
df_tot_pu = df_tot_pu.set_index("Day")
df_tot_pu['Month'] = df_tot_pu.index.month
df_tot_pu['Year'] = df_tot_pu.index.year
df1_tot_pu = df_tot_pu.groupby(['Month','Year','Region'], as_index=False)['CAPACITY_OFFLINE'].mean()

In [51]:
df1_tot_pu

     Month  Year       Region  CAPACITY_OFFLINE
0        1  2016        China      2.253333e+05
1        1  2016       Europe      1.036189e+06
2        1  2016       Global      4.988193e+06
3        1  2016  Middle East      9.103333e+05
4        1  2016          NAM      1.118593e+06
..     ...   ...          ...               ...
427     12  2021       Europe      8.000000e+03
428     12  2021       Global      1.046581e+06
429     12  2021  Middle East      2.525806e+05
430     12  2021          NAM      1.308710e+05
431     12  2021       Russia      0.000000e+00

[432 rows x 4 columns]

In [49]:
# planned grouped by day per region
df_tot_p = df_tot.loc[df_tot['P/U'] == 'Planned']
df_tot_p = df_tot_p.groupby(['Day','Region'], as_index=False)['CAPACITY_OFFLINE'].sum()
df_tot_p = df_tot_p.set_index("Day")
df_tot_p['Month'] = df_tot_p.index.month
df_tot_p['Year'] = df_tot_p.index.year
df1_tot_p = df_tot_p.groupby(['Month','Year','Region'], as_index=False)['CAPACITY_OFFLINE'].mean()


# unplanned grouped by day per region
df_tot_u = df_tot.loc[df_tot['P/U'] == 'Unplanned']
df_tot_u = df_tot_u.groupby(['Day','Region'], as_index=False)['CAPACITY_OFFLINE'].sum()

In [50]:
df_tot_u

             Day       Region  CAPACITY_OFFLINE
0     2016-01-02        China               0.0
1     2016-01-02       Europe          552500.0
2     2016-01-02       Global         2376850.0
3     2016-01-02  Middle East          560400.0
4     2016-01-02          NAM          304400.0
...          ...          ...               ...
13141 2021-12-31       Europe               0.0
13142 2021-12-31       Global          114000.0
13143 2021-12-31  Middle East               0.0
13144 2021-12-31          NAM           45000.0
13145 2021-12-31       Russia               0.0

[13146 rows x 3 columns]

In [ ]:
#######################################################################################################################
# dashboard creation

# initialize the app
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.SOLAR])
app.config.suppress_callback_exceptions = True

# Creates a list of dictionaries, which have the keys 'label' and 'value'. (used in dcc.Dropdown below)
def get_options(list_params):
    dict_list = []
    for i in list_params:
        dict_list.append({'label': i, 'value': i})

    return dict_list

# design the app
app.layout = html.Div([
        dbc.Row(dbc.Col(html.H3('Refinery Maintenance (kbd)'),
                        width={'size': 12, 'offset': 4}
                        ),
                ),
        dbc.Row(
            [
                dbc.Col(dcc.Dropdown(id='a_dropdown', placeholder='first dropdown',
                                     options=get_options(df1_tot_pu['Region'].unique()),multi=True, value=['Global']),
                        width={'size': 4, 'offset': 0, 'order': 1}, style={'font-size':'75%'}
                        ),
                dbc.Col(dcc.Dropdown(id='b_dropdown', placeholder='second dropdown',
                                     options=get_options(df1_tot_p['Region'].unique()),multi=True, value=['Global']),
                        width={'size': 4, 'offset': 0, 'order': 2}, style={'font-size':'75%'}
                        ),
                dbc.Col(dcc.Dropdown(id='c_dropdown', placeholder='third dropdown',
                                     options=get_options(df_tot_u['Region'].unique()),multi=True, value=['Global']),
                        width={'size': 4,  'offset': 0, 'order': 3}, style={'font-size':'75%'}
                        ),
            ], no_gutters=True
        ),
        dbc.Row(
            [
                dbc.Col(dcc.Graph(id='line_chart1'),
                        width=4, lg={'size': 4,  "offset": 0, 'order': '1'}
                        ),
                dbc.Col(dcc.Graph(id='line_chart2'),
                        width=4, lg={'size': 4,  "offset": 0, 'order': '2'}
                        ),
                dbc.Col(dcc.Graph(id='line_chart3'),
                        width=4, lg={'size': 4, "offset": 0, 'order': '3'}
                        ),
            ]
        ),
        dbc.Row(
            [
                dbc.Col(dcc.Dropdown(id='e_dropdown', placeholder='fourth dropdown',
                                     options=get_options(df_tot_pu['Region'].unique()),multi=True, value=['NAM']),
                        width={'size': 4, 'offset': 0, 'order': 1}, style={'font-size':'75%'}
                        ),
                dbc.Col(dcc.Dropdown(id='f_dropdown', placeholder='fifth dropdown',
                                     options=get_options(df_tot_p['Region'].unique()),multi=True, value=['NAM']),
                        width={'size': 4, 'offset': 0, 'order': 2}, style={'font-size':'75%'}
                        ),
                dbc.Col(dcc.Dropdown(id='g_dropdown', placeholder='sixth dropdown',
                                     options=get_options(df_tot_u['Region'].unique()),multi=True, value=['NAM']),
                        width={'size': 4,  'offset': 0, 'order': 3}, style={'font-size':'75%'}
                        ),
            ], no_gutters=True
        ),
        dbc.Row(
            [
                dbc.Col(dcc.Graph(id='line_chart4'),
                        width=4, lg={'size': 4,  "offset": 0, 'order': '1'}
                        ),
                dbc.Col(dcc.Graph(id='line_chart5'),
                        width=4, lg={'size': 4,  "offset": 0, 'order': '2'}
                        ),
                dbc.Col(dcc.Graph(id='line_chart6'),
                        width=4, lg={'size': 4, "offset": 0, 'order': '3'}
                        ),
            ]
        ),
        ])

# declare variables for traces
years = [2016,2017,2018,2019,2020,2021]
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
layout = go.Layout(
                  colorway=['#17becf','#e377c2','#ff7f0e','#2ca02c','black','grey'],
                  title = {'text': "Regional Capacity Offline (B/D)"},
                  margin={'t': 40, 'b': 40, 'l': 40, 'r': 10},
                  legend=dict(orientation='h', yanchor="bottom", y=-0.25, xanchor="left", x=0)
              )

# run a callback for regional graph
@app.callback(
    Output(component_id='line_chart1', component_property='figure'),
    [Input(component_id='a_dropdown', component_property='value')]
)
def update_figure(selected_dropdown_region):

    trace = []

# draw and append traces for each country
    for region in selected_dropdown_region:
        for year in years:
            trace.append((go.Scatter(x= months,
                                     y= df1_tot_pu[(df1_tot_pu['Year']== year) & (df1_tot_pu['Region']== region)]['CAPACITY_OFFLINE'],
                                     mode='lines+markers',
                                     line_shape='spline',
                                     name = region and year)))

    traces = [trace]
    data = [val for sublist in traces for val in sublist]  #flattening the nested list

# define figure for graph output

    figure = {'data': data, 'layout': layout}

    return figure

# run a callback for regional graph
@app.callback(
    Output(component_id='line_chart2', component_property='figure'),
    [Input(component_id='b_dropdown', component_property='value')]
)
def update_figure(selected_dropdown_region):

    trace = []

# draw and append traces for each country
    for region in selected_dropdown_region:
        for year in years:
            trace.append((go.Scatter(x= months,
                                     y= df1_tot_p[(df1_tot_p['Year']== year) & (df1_tot_pu['Region']== region)]['CAPACITY_OFFLINE'],
                                     mode='lines+markers',
                                     line_shape='spline',
                                     name = region and year)))

    traces = [trace]
    data = [val for sublist in traces for val in sublist]  #flattening the nested list

# define figure for graph output

    figure = {'data': data, 'layout': layout}

    return figure


if __name__ == '__main__':
    app.run_server(debug=True)